<!DOCTYPE html>
{% extends  'base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}
दुनिया में सबसे अच्छी कहानी कौन सी है?
दुनिया की सर्वश्रेष्ठ हिंदी कहानियों की सूची / List of Best Motivational Stories in Hindi
बोले हुए शब्द वापस नहीं आते
सफलता का रहस्य YouTube पर देखें
ज़िन्दगी के पत्थर, कंकड़ और रेत
गुरु-दक्षिणा
ग्लास को नीचे रख दीजिये
आप हाथी नहीं इंसान हैं !
तितली का संघर्ष
बाड़े की कील YouTube पर देखें
{% endblock %}
</body>
</html>